* {
    box-sizing: border-box;
}

#loader h3 {
    color: hotpink;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 64px;
    padding: 32px;
    background-color: #FFC8DD;
    margin: 0;
}

.shopping-bag-btn {
    height: 58px;
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background-color: #BDE0FE;
}

.shopping-bag-btn:hover {
    box-shadow: 5px 2px 2px #A2D2FF;
}

.bag-icon {
    height: 40px;
    width: 40px;
}

#shopping-bag {
    top: 64px;
    display: none;
    min-height: 100vh;
    width: 33%;
    background-color: #C8B6FF;
    position: absolute;
    right: 0;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#shopping-bag img {
    border-radius: .1rem;
}

.shopping-bag-scrollable {
    max-height: 90vh;
    overflow-y: auto;
}

.shopping-bag-fixed {
    position: fixed;
}

#shopping-bag img {
    width: 128px;
}

.jacket-item {
    width: fit-content;
    padding: .5rem;
    margin-bottom: 1rem;
    border: 1px dotted #FFAFCC;
    background-color: #FFE5EC;
}

.delete-btn {
    height: 2rem;
    border: 1px solid #C8B6FF;
    background-color: #E7C6FF;
    border-radius: .5rem;
    cursor: pointer;
}

.delete-btn:hover {
    box-shadow: 5px 3px 3px #C8B6FF;
}

#total-span {
    font-size: 1.2rem;
    /*text-decoration: underline;*/
}

#checkout-btn {
    height: 2rem;
    border-radius: .5rem;
    border: 1px solid #A2D2FF;
    background-color: #BDE0FE;
    cursor: pointer;
}

#checkout-btn:hover {
    box-shadow: 5px 3px 3px #A2D2FF;
}
